[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "biblio"]
	path = lib/biblio
	url = git@github.com:cpitclaudel/biblio.el.git
[submodule "bicycle"]
	path = lib/bicycle
	url = git@github.com:tarsius/bicycle.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "comment-dwim-2"]
	path = lib/comment-dwim-2
	url = git@github.com:remyferre/comment-dwim-2.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "elfeed"]
	path = lib/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule "elfeed-org"]
	path = lib/elfeed-org
	url = git@github.com:remyhonig/elfeed-org.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "ess"]
	path = lib/ess
	url = git@github.com:emacs-ess/ESS.git
[submodule "esxml"]
	path = lib/esxml
	url = git@github.com:tali713/esxml.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "ggo-mode"]
	path = lib/ggo-mode
	url = git@github.com:mkjunker/ggo-mode.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "grab-mac-link"]
	path = lib/grab-mac-link
	url = git@github.com:xuchunyang/grab-mac-link.el.git
[submodule "helm-bibtex"]
	path = lib/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "hungry-delete"]
	path = lib/hungry-delete
	url = git@github.com:nflath/hungry-delete.git
[submodule "hy-mode"]
	path = lib/hy-mode
	url = git@github.com:hylang/hy-mode.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "iedit"]
	path = lib/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "imake"]
	path = lib/imake
	url = git@github.com:tarsius/imake.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "key-chord"]
	path = lib/key-chord
	url = git@github.com:emacsorphanage/key-chord.git
[submodule "key-seq"]
	path = lib/key-seq
	url = git@github.com:vlevit/key-seq.el.git
[submodule "kv"]
	path = lib/kv
	url = git@github.com:nicferrier/emacs-kv.git
[submodule "lorem-ipsum"]
	path = lib/lorem-ipsum
	url = git@github.com:jschaf/emacs-lorem-ipsum.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "magit-gitflow"]
	path = lib/magit-gitflow
	url = git@github.com:jtatarik/magit-gitflow.git
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "magit-todos"]
	path = lib/magit-todos
	url = git@github.com:alphapapa/magit-todos.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "minions"]
	path = lib/minions
	url = git@github.com:tarsius/minions.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "org"]
	path = lib/org
	url = git@code.orgmode.org:bzg/org-mode.git
[submodule "org-bullets"]
	path = lib/org-bullets
	url = git@github.com:emacsorphanage/org-bullets.git
[submodule "org-download"]
	path = lib/org-download
	url = git@github.com:abo-abo/org-download.git
[submodule "org-web-tools"]
	path = lib/org-web-tools
	url = git@github.com:alphapapa/org-web-tools.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
[submodule "pcre2el"]
	path = lib/pcre2el
	url = git@github.com:joddie/pcre2el.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = git@github.com:emacsorphanage/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "xterm-color"]
	path = lib/xterm-color
	url = git@github.com:atomontage/xterm-color.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
